data/jira_bugs/1599_override.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="schemaNS">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name"/>
                <xs:element name="email"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>