data/jira_bugs/ag3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="tns" xmlns="tns">
    <xs:redefine schemaLocation="ag2.xsd">
        <xs:attributeGroup name="Para.Decorate">
            <xs:attributeGroup ref="Para.Decorate"/>
            <xs:attribute ref="id" use="required"/>
        </xs:attributeGroup>
    </xs:redefine>
    <xs:attribute name="id"/>
    <xs:element name="el" type="ct"/>
</xs:schema>