tests/schema/override/scenario_5/C.xsd

<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.moinc.org"
xmlns="http://www.moinc.org"
elementFormDefault="qualified">
	
	<xs:override schemaLocation="A.xsd">	  
	 <xs:element name="developer" type="xs:string"/>
	</xs:override>

	<xs:complexType name="personName">
	  <xs:sequence>
	   <xs:element name="firstName"/>
	   <xs:element name="lastName"/>
	  </xs:sequence>
 	</xs:complexType>

	
</xs:schema>
