tests/schema/override/overridden2.xsd

<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.moinc.org"
xmlns="http://www.moinc.org"
elementFormDefault="qualified">
<xs:include schemaLocation="http://www.w3schools.com/schema/customer.xsd"/>

  <xs:complexType name="personName">
	  <xs:sequence>
	   <xs:element name="firstName"/>
	   <xs:element name="lastName"/>
	  </xs:sequence>
 </xs:complexType>

 <xs:element name="addressee" type="personName"/>

	
 <xs:element name="developer" type="developerType"/>
</xs:schema>
