tests/schema/override/overriding-copy.xsd

<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.moinc.org"
xmlns="http://www.moinc.org"
elementFormDefault="qualified">
	
	<xs:override schemaLocation="overridden-copy.xsd">
	  <xs:complexType name="personName">
	   <xs:sequence>
	    <xs:element name="givenName"/>
	    <xs:element name="surname"/>
	   </xs:sequence>
	  </xs:complexType>

	 <xs:element name="addressee" type="xs:string"/>
	 <xs:include schemaLocation="dummy.xsd"/>
	</xs:override>
	
</xs:schema>
