tests/schema/override/schemaA_2.xsd

<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.moinc.org"
xmlns="http://www.moinc.org"
elementFormDefault="qualified">	
	
	<xs:element name="addressee" type="personName"/>

	
 	<xs:element name="developer" type="developerType"/>

	<xs:complexType name="personName">
	   <xs:sequence>
	    <xs:element name="givenName"/>	    
	   </xs:sequence>
	  </xs:complexType>
</xs:schema>
