tests/schema/override/scenario_1/A.xsd

<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.moinc.org"
xmlns="http://www.moinc.org"
elementFormDefault="qualified">
	
	
	<xs:override schemaLocation="B.xsd">
	  <xs:complexType name="personName">
	   <xs:sequence>
	    <xs:element name="givenName" type="xs:string"/>
	    <xs:element name="surname" type="xs:string"/>
	   </xs:sequence>
	  </xs:complexType>

	 <xs:element name="addressee" type="xs:int"/>
	</xs:override>

	
</xs:schema>
