data/xpath/floating_point.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="X">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="a" type="xs:double" maxOccurs="unbounded"/>
		<xs:element name="b" type="xs:float" maxOccurs="unbounded"/>
      </xs:sequence>
	  <xs:assert test="count(distinct-values(a)) eq 3"/>
	  <xs:assert test="deep-equal(distinct-values(a), (2,3.5,xs:double('NaN')))"/>
	  <xs:assert test="count(distinct-values(b)) eq 2"/>
	  <xs:assert test="count(distinct-values(a | b)) eq 5"/>
	  <xs:assert test="b[4] eq b[5]"/>
    </xs:complexType>
  </xs:element>

</xs:schema>