data/assertions/castableas.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
   <xs:element name="X">
      <xs:complexType>
          <xs:sequence>
             <xs:element maxOccurs="unbounded" name="a" type="xs:string"/>
          </xs:sequence>
      </xs:complexType>
   </xs:element>
  
   <xs:simpleType name="STATUS">
      <xs:restriction base="xs:string">
         <xs:enumeration value="pass"/>
         <xs:enumeration value="fail"/>
      </xs:restriction>
   </xs:simpleType>
  
</xs:schema>