data/assertions/test23.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="A">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="myBase">		  
          <xs:assertion test="contains($value, 'Element')" />
          <xs:assert test="@a" />		  
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="myBase">
    <xs:simpleContent>
	  <xs:extension base="xs:string">	
        <xs:attribute name="a" type="xs:int" />		
	  </xs:extension>
	</xs:simpleContent>	
  </xs:complexType>

</xs:schema>
  
