data/assertions/test40.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xerces="http://xerces.apache.org">
	
   <xs:element name="Example">
     <xs:complexType>
	   <xs:sequence>
	     <xs:element name="A" type="xs:string" minOccurs="0" />
	     <xs:element name="B" type="xs:string" minOccurs="0" />
	     <xs:element name="C" type="xs:string" minOccurs="0" />
	   </xs:sequence>
	   <xs:assert test="count(*) gt 0" xerces:message="At least one of Example/* needs to be present" />
	 </xs:complexType>
   </xs:element>

</xs:schema>

