data/assertions/test48.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
   <xs:element name="X" type="X_TYPE" />
   
   <xs:complexType name="X_TYPE">
	  <xs:simpleContent>
	     <xs:extension base="INTLIST">
	        <xs:attribute name="a" type="xs:string" />
		    <xs:assert test="@a" />
		 </xs:extension>
	  </xs:simpleContent>
   </xs:complexType>

   <xs:simpleType name="INTLIST">
       <xs:list>
	      <xs:simpleType>
		      <xs:restriction base="xs:int">
			      <xs:assertion test="$value mod 2 = 0" />
			  </xs:restriction>
		   </xs:simpleType>
	   </xs:list>
   </xs:simpleType>

</xs:schema>