data/assertions/test46.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
   <xs:element name="X" type="X_TYPE" />

   <xs:complexType name="X_TYPE">
	  <xs:sequence>
	     <xs:element name="y" type="xs:string" minOccurs="0" />
		 <xs:element name="z" type="xs:string" minOccurs="0" />
	  </xs:sequence>
	  <xs:assert test="y" />
	  <xs:assert test="z" />
   </xs:complexType>
   
</xs:schema>