data/assertions/test35.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="field">
    <xs:complexType>
	   <xs:attribute name="name" type="xs:string" />
	   <xs:attribute name="value" type="xs:decimal" />
	   <xs:assert test="if (@name = 'price') then (@value gt 0) else true()" />
	</xs:complexType>
  </xs:element>
  
</xs:schema>

