data/version-control/test5.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="A">
	    <xs:complexType>
		    <xs:sequence>
				<xs:element name="x" type="xs:normalizedString" vc:typeUnavailable="xs:string xs:normalizedString"/>
				<xs:element name="y" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
