data/compositors/test2.xsd

<?xml version='1.0'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
    <xs:element name="root">
       <xs:complexType>
	      <xs:all>		     
		     <xs:element name="a" type="xs:string" />
	         <xs:group ref="myGroup" />
          </xs:all>	  
	   </xs:complexType>
	</xs:element>
	
	<xs:group name="myGroup">
	   <xs:sequence>
	      <xs:element name="b" type="xs:string" />
		  <xs:element name="c" type="xs:string" />
	   </xs:sequence>
	</xs:group>
	
</xs:schema>	