data/targetNamespace/tns6.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
    <xs:element name="x">
	   <xs:complexType>
	      <xs:simpleContent>
		     <xs:restriction base="TEST_TYPE">
			    <xs:attribute name="a" type="xs:integer" targetNamespace="http://test1" />
			 </xs:restriction>
		  </xs:simpleContent>
	   </xs:complexType>
	</xs:element>
	
	<xs:complexType name="TEST_TYPE">
	   <xs:simpleContent>
	      <xs:extension base="xs:string">
		     <xs:anyAttribute />
		  </xs:extension>
	   </xs:simpleContent>
	</xs:complexType>
    
</xs:schema> 