data/test2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="XList" type="ArrayType"/>
  
  <xs:complexType name="ArrayType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="length" type="xs:nonNegativeInteger"/>
    <xs:assert test="@length eq count(./entry)"/>
  </xs:complexType>
  
</xs:schema>
