data/assertions/list_union/listunion4.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <xs:element name="Example">
      <xs:simpleType>
	     <xs:union memberTypes="MYINT MYDATE xs:date"/>
	  </xs:simpleType>
   </xs:element>
   
   <xs:simpleType name="MYINT">
     <xs:restriction base="xs:int">
	    <xs:assertion test="$value mod 2 = 0"/>
	 </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="MYDATE">
     <xs:restriction base="xs:date">
	    <xs:assertion test="$value lt xs:date('2010-08-25')"/>
	 </xs:restriction>
   </xs:simpleType>

</xs:schema>

