data/open-content/test22.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:defaultOpenContent mode="interleave">
    <xs:any namespace="##any" processContents="skip"/>
  </xs:defaultOpenContent>
  
  <xs:complexType name="CatalogEntry">
    <xs:sequence>
      <xs:element name="artist" type="xs:string"/>
      <xs:element name="album" type="xs:string"/>
      <xs:element name="price" type="xs:decimal"/>
      <xs:element name="release_date" type="xs:date"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:element name="cd" type="CatalogEntry"/>

</xs:schema>